<div class="container">
  <h5>CRÉER UN BON DE LIVRAISON</h5>
  <form [formGroup]="BnFrom">
    <div> 
      <label>Numéro de vol</label>
      <div *ngIf="vols.length === 0">Chargement des vols...</div>
      <div class="select-button-group">
        <select class="form-control" formControlName="numVol">
          <option *ngFor="let vol of vols" [value]="vol._id">{{ vol.numVol }}-{{ vol.dateVolDep | date:'short':'UTC' }}
          </option>
        </select>
        <button (click)="searchCommandes()" type="button" class="btn">Rechercher</button>
      </div>
    </div>
  </form>
  <div *ngIf="errorMessage" class="alert alert-danger mt-3">
    {{ errorMessage }}
  </div>
  <div class="tab">
  <div *ngIf="commandes.length > 0" class="card">
    <div class="card-header">Commandes associées au vol</div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>N°Commande</th>
            <th>Commande</th>
            <th>Matricule Personnel</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let commande of commandes">
            <td>{{ commande.numeroCommande}}</td>
            <td>
              <strong>{{commande.menu?.nom}}</strong>
              <ul>
                <li *ngFor="let plat of commande.plats">{{ plat.nom }}</li>
              </ul>
            </td>
            <td>
              <span *ngIf="commande.Matricule">{{ commande.Matricule }}</span>
            </td>
          </tr>
        </tbody>
      </table>
      <button (click)="createBonLivraison()" class="btn">Créer Bon de Livraison</button>
      <div *ngIf="message" class="message-box">
        {{ message }}
      </div> 
    </div>
  </div>
  </div>
</div>
