<div class="container">
  <h2>Créer un bon de livraison</h2>

  <div class="form-group">
    <label for="numVol">Numéro de Vol :</label>
    <input type="text" id="numVol" [(ngModel)]="numVol" class="form-control" placeholder="Entrez le numéro de vol">
    <button (click)="searchCommandes()" class="btn btn-primary mt-2">Rechercher</button>
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger mt-3">
    {{ errorMessage }}
  </div>

  <div *ngIf="commandes.length > 0" class="card mt-3">
    <div class="card-header">Commandes associées au vol {{ numVol }}</div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID Commande</th>
            <th>Menu</th>
            <th>Plats</th>
            <th>Personnel Navigant / Personnel de Direction du Catering</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let commande of commandes">
            <td>{{ commande._id | slice:0:6 }}</td>
            <td>{{ commande.menu?.nom }}</td>
            <td>
              <ul>
                <li *ngFor="let plat of commande.plats">{{ plat.nom }}</li>
              </ul>
            </td>
            <td>
              <span *ngIf="commande.Matricule">{{ commande.Matricule}}</span>
            </td>
          </tr>
        </tbody>
      </table>

      <button (click)="createBonLivraison()" class="btn btn-success mt-3">Créer Bon de Livraison</button>
    </div>
  </div>
</div>
