  <div class="content">
    <div class="container">
      <div class="card ">
        <div class="card-header bg-white border-bottom-0 ">
          <h3 class="mb-0 fw-bold">LISTE DES PRELEVEMENTS</h3>
        </div>
      <div class="table-responsive" *ngIf="prelevements.length > 0; else aucunPrelevement">
        <table class="table table-striped custom-table">
          <thead class="thead">
            <tr>
              <th scope="col">N° Matricule</th>
              <th scope="col">Montant Total</th>
              <th scope="col">Date de début </th>
              <th scope="col">Date de fin</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody >
            <ng-container *ngFor="let p of prelevements">
              <tr (click)="toggleDetails(p._id)" style="cursor: pointer;">
              <td class="fw-semibold text-primary">
                {{ p.personnel }}
              </td>
              <td>{{ p.montantTotal | currency:'TND':'symbol':'1.3-3'}}</td>
              <td>
                {{ p.dateDebut | date: 'yyyy-MM-dd' }}
              </td>            
            
              <td>
                {{ p.dateFin | date: 'yyyy-MM-dd' }}
              </td>
              <td>
                <button type="button" [disabled]="p.annulation"  (click)="AnnulerPrelevement(p._id)">
                  Annuler
                </button>
              </td>               
            </tr>
            <tr *ngIf="selectedPrelevId === p._id && selectedPrelevDetail">
              <td colspan="6">
                <div class="detail-card p-3 bg-light rounded shadow-sm">
                  <h5 class="mb-3">Détails du prélèvement</h5>
                  <ul class="list-group">
                    <li *ngFor="let detail of selectedPrelevDetail" class="list-group-item d-flex justify-content-between align-items-center">
                      <strong>Vol :</strong> <span>{{ detail.vol?.numVol }}</span>
                      <strong>Montant :</strong> <span>{{ detail.montant | number: '1.2-2' }} TND</span>
                    </li>                
                  </ul>
                </div>
              </td>
            </tr>               
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
    <ng-template #aucunPrelevement>
      <p class="text-muted mt-3">Aucun prélèvement trouvé.</p>
    </ng-template>
  </div>
  