<div class="container">
  <h3>LISTE DES BONS DE LIVRAISON</h3>

  <div *ngIf="isLoading" class="text-center mt-3">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger mt-3">
    {{ errorMessage }}
  </div>

  <div *ngIf="successMessage" class="alert alert-success mt-3">
    {{ successMessage }}
  </div>

  <div *ngIf="bonsLivraison.length > 0" class="card mt-3">
    <div class="card-header">Bons de livraison enregistrés</div>
    <div class="card-body">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>N°</th>
            <th>Vol</th>
            <th>Nombre des Commandes</th>
            <th>Personnel Livraison</th>
            <th>Statut</th>
            <th>Conformité</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bon of bonsLivraison" [class.table-secondary]="bon.Statut === 'Annulé'">
            <td class="fw-semibold text-primary">{{ bon.numeroBon }}</td>
            <td>{{ bon.vol }}</td>
            <td>{{ bon.commandes.length || 0 }}</td>
            <td>
              {{ bon.personnelLivraison|| 'Non assigné' }}
            </td>
            <td>
              <span class="badge" [ngClass]="getStatusBadgeClass(bon.Statut)">
                {{ bon.Statut }}
              </span>
            </td>
            <td>
              <span class="badge" [ngClass]="getConformiteBadgeClass(bon.conformite)">
                {{ bon.conformite }}
              </span>
            </td>
            <td>
              <button 
                (click)="downloadPdf(bon.numeroBon)" 
                class="btn btn-sm btn-primary me-2"
                [disabled]="isLoading">
                <i class="bi bi-download"></i> PDF
              </button>
              <button 
                (click)="modifierBn(bon._id)" 
                class="btn btn-sm btn-warning"
                [disabled]="bon.Statut !== 'En attente'">
                <i class="bi bi-trash"></i> Modifier
              </button>
              <button 
                (click)="annulerBonLivraison(bon._id)" 
                class="btn btn-sm btn-danger"
                [disabled]="bon.Statut !== 'En attente'">
                <i class="bi bi-trash"></i> Supprimer
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="!isLoading && bonsLivraison.length === 0 && !errorMessage" class="alert alert-info mt-3">
    Aucun bon de livraison trouvé.
  </div>
</div>