<div class="container mt-4">
    <h2>Modifier Commande</h2>
    <form [formGroup]="form" (ngSubmit)="updateCommande()">
      <div class="mb-3">
        <label for="menu" class="form-label">Menu</label>
        <select id="menu" class="form-select" formControlName="menuId" required>
          <option value="">-- Sélectionner un menu --</option>
          <option *ngFor="let menu of menus" [value]="menu._id">{{ menu.nom }}</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="vol" class="form-label">N° Vol</label>
        <select id="vol" class="form-select" formControlName="volId" required>
          <option value="">-- Sélectionner le numéro du vol --</option>
          <option *ngFor="let v of vols" [value]="v._id">{{ v.numVol }}</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Modifier Commande</button>
      <button type="button" class="btn btn-secondary ms-2" (click)="retour()">Annuler</button>
    </form>
  </div>
  