<h2>Soumettre réclamation</h2>
<form [formGroup]="reclamationForm" (ngSubmit)="onSubmit()">
    <label>Objet:</label>
    <input type="text" name="Objet" formControlName="Objet" required />
  
    <label>Message:</label>
    <textarea formControlName="MessageEnvoye" name="message" required></textarea>
    <div class="form-group"> 
      <input class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" aria-describedby="file_input_help" id="image" type="file" (change)="onFileSelected($event)" >
      </div>
    <button type="submit">Envoyer</button>
  </form>