<!--<div class="Layout">
    <app-navbar (togglesidebar)="NavOpen=!NavOpen"></app-navbar>
  <div class="layout-left">
    <app-navbar-items [status]="NavOpen"></app-navbar-items>
  </div>
  </div>
  <p><span><a href="DashAdmin"><i class="fa-solid fa-house" style="color: #000000;"></i></a></span>/Plats/Consulter les plats</p>-->
<div class="content">
    <div class="container">
      <div class="card ">
        <div class="card-header bg-white border-bottom-0 ">
          <h3 class="mb-0 fw-bold">LISTE DES PLATS</h3>
        </div>
      <div class="table-responsive">
        <table class="table table-striped custom-table">
          <thead class="thead">
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Description</th>
                <th scope="col">Type plat</th>
                <th scope="col">prix</th>
                <th scope="col">Quantité</th>
                <th scope="col">Categorie</th>
                <th scope="col">Disponible</th>
              
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let p of plats">
              <td class="fw-semibold text-primary">
                {{p.nom}}
              </td>
              <td>{{p.description}}</td>
              <td>
                {{p.typePlat}}
              </td>            
            
              <td>
               {{p.prix}}
              </td>
              <td>{{p.quantite}}</td>
              <td>
                {{p.Categorie}}
              </td> 
              <td>
                <input type="checkbox" [checked]="p.Disponibilite" disabled>
              </td>                     
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  