.content {
  padding: 20px;
}

.container {
  width: 1300px;
  margin: 0 auto;
}
.table-responsive {
  max-height: calc(100vh - 200px); 
  margin-top: 20px; 
}
.mb-5 {
  margin-bottom: 30px;
}
h3{
  font-family: inherit;
    line-height: 1.5;
    margin-bottom: .5rem;
    color: #32325d;
    font-size: 1.0625rem;
    font-family: Open Sans,sans-serif;
}
.custom-table thead th {
  background-color: #6698dd !important; 
  color: white; 
}

.table {
  width: 100%;
  border-collapse: collapse;
  position: relative;
}
  
.table th,
.table td {
  padding: 10px;
  text-align: center;
}


.custom-table th,
.custom-table td {
  vertical-align: middle;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 5px 0;
}
.plat-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.btn-retour {
  background-color: #3b597a;
  color: #ffffff;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-retour:hover {
  background-color: #2f4962;
  transform: translateY(-2px);
}


