<div class="container">
    <h2>Votre commande</h2>
    <p><strong>Entrée :</strong> {{ PEntree }}</p>
    <p><strong>Plat Principal :</strong> {{ PPrincipal }}</p>
    <p><strong>Dessert :</strong> {{ PDessert }}</p>
  
    <form [formGroup]="commandeFrom" (ngSubmit)="onSubmit()">
      <label for="numVol">Numéro de vol :</label>
      <input type="text" id="numVol" formControlName="numVol" class="form-control" required>
  
      <label for="MatriculePn">Matricule PN :</label>
      <input type="text" id="MatriculePn" formControlName="MatriculePn" class="form-control" required>
  
      <button type="submit" class="btn btn-success">Valider la commande</button>
    </form>
  </div>
  