<div class="container">
    <h2>Votre commande</h2>
    <ul>
      <li *ngIf="PEntree">Entrée : {{ PEntree }}</li>
      <li *ngIf="PPrincipal">Plat principal : {{ PPrincipal }}</li>
      <li *ngIf="PDessert">Dessert : {{ PDessert }}</li>
      <li *ngIf="PBoisson">Boisson : {{ PBoisson }}</li>
      <li *ngIf="PDej.length > 0">
        <ul>
          Tes plats de petit déjuner : 
          <li *ngFor="let plat of PDej">{{ plat }}</li>
        </ul>
      </li>
    </ul>
    <form [formGroup]="commandeFrom" (ngSubmit)="onSubmit()">
      <div class="form-group"> 
        <label>Numero de vol </label>
        <div *ngIf="vols.length === 0">Chargement des vols...</div>
           <select formControlName="numVol">
            <option *ngFor="let vol of vols" [value]="vol.numVol">{{ vol.numVol }}</option>
           </select>
    </div>
      <button type="submit" class="btn btn-success">Valider la commande</button>
    </form>
  </div>
  