<div class="container">
    <div class="box-container">
      <div class="box" routerLink="/AccueilPersonnel/Profil/ModifierProfil">
        <h3>Modifier Profil</h3>
        <p>Mettre à jour vos informations personnelles.</p>
      </div>
  
      <div class="box" routerLink="/AccueilPersonnel/Profil/MonCarnet">
        <h3>Consulter Carnet de Santé</h3>
        <p>Consulter, Ajouter ou mettre à jour votre carnet médical.</p>
      </div>
    </div>
  
    <router-outlet></router-outlet>
  </div>
  