  <div class="content">
    <div class="container">
      <div class="card ">
        <div class="card-header bg-white border-bottom-0 ">
          <h3 class="mb-0 fw-bold">LISTE DES MENUS</h3>
        </div>
      <div class="table-responsive">
        <table class="table table-striped custom-table">
          <thead class="thead">
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Entrée</th>
                <th scope="col">Plat principal</th>
                <th scope="col">Desert</th>
                <th scope="col">Boisson</th>
                <th scope="col">Prix total</th>
                <th scope="col">Disponible</th>
                <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let m of menus">
              <td class="fw-semibold text-primary">
                {{m.nom}}
              </td>
              <td (click)="voir(m.PlatsEntree[0]._id)" > {{m.PlatsEntree[0].nom}}</td>
              <td (click)="voir(m.PlatsPrincipaux[0]._id)" >
                {{m.PlatsPrincipaux[0].nom}}
              </td>            
              <td (click)="voir(m.PlatsDessert[0]._id)">
                {{m.PlatsDessert[0].nom}}
              </td>
              <td (click)="voir(m.Boissons[0]._id)" > {{m.Boissons[0].nom}}</td>
              <td>
                {{m.prixtotal | currency:'TND':'symbol':'1.3-3'}}
              </td> 
              <td>
                <input type="checkbox" [checked]="m.Disponible" disabled>
              </td>
              <td>
                <button class="btn btn-warning btn-sm" (click)="modifier(m._id)" >Modifier</button>
                <button class="btn btn-danger btn-sm" (click)="supprimer(m._id)">Supprimer</button>
              </td>                   
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  