  <div class="container">
    <div *ngIf="isLoading" class="text-center mt-3">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div class=" filters mb-3">
      <select id="filtreStatut"  [(ngModel)]="selectedStatut">
        <option value="Tous">Tous</option>
        <option value="en attente">En attente</option>
        <option value="confirmé">Confirmée</option>
        <option value="annulé">Annulée</option>
      </select>
    </div>
    <div class="card mt-3">
      <div class="card-header"> <h3>LISTE DES FACTURES</h3></div>
      <div class="card-body">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>N° facture</th>
              <th>Date</th>
              <th>Nombre des bons </th>
              <th>Montant total</th>
              <th>Statut</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let f of FacturesFiltres">
            <tr  [class.table-secondary]="f.Statut === 'annulé'"  [class.table-secondary]="f.Statut === 'annulé'" 
            (click)="toggleDetails(f._id)"  style="cursor: pointer;">
              <td class="fw-semibold text-primary">{{ f.numeroFacture }}</td>
              <td>{{ f.DateFacture | date:'shortDate' }}</td>
              <td>{{ f.BonsLivraison.length || 0 }}</td>
              <td>
                {{ f.montantTotal | currency:'TND':'symbol':'1.3-3'}}
              </td>
              <td>
                <span class="badge" [ngClass]="getStatusBadgeClass(f.Statut)">
                  {{ f.Statut }}
                </span>
              </td>
              <td>
                <button 
                  class="btn btn-sm btn-primary me-2"
                  [disabled]="isLoading">
                  <i class="bi bi-download"></i> PDF
                </button>
                
                <button (click)="annulerFacture(f._id)" class="btn btn-sm btn-danger" [disabled]="f.Statut !== 'en attente'"> Annuler</button>
              </td>
            </tr>
            <tr *ngIf="selectedFactureId === f._id && selectedFactureDetail">
              <td colspan="6">
                <div class="detail-card">
                  <h5>Détails de la facture {{ selectedFactureDetail?.numeroFacture }}</h5>
                  <p><strong>Date :</strong> {{ selectedFactureDetail?.DateFacture | date:'short' }}</p>
                  <p><strong>Statut :</strong> {{ selectedFactureDetail?.Statut }}</p>
                  <p><strong>Montant total :</strong> {{ selectedFactureDetail?.montantTotal }} TND</p>
                  <p><strong>Prélevée :</strong> {{ selectedFactureDetail?.Preleve ? 'Oui' : 'Non' }}</p>
            
                  <h6>Bons de Livraison associés :</h6>
                  <ul>
                    <li *ngFor="let bl of selectedFactureDetail?.BonsLivraison">
                      <strong>BL #{{ bl.numeroBon }}</strong> - {{ bl.dateCreation | date:'shortDate' }} - Statut : {{ bl.Statut }}
                    </li>
                  </ul>
            
                  <h6>Montant par vol :</h6>
                  <ul>
                    <li *ngFor="let vol of selectedFactureDetail?.montantParVol">
                      <strong>Vol {{ vol.vol }} :</strong> {{ vol.montant }} TND
                    </li>
                  </ul>
            
                  <h6>Montant par personnel navigant :</h6>
                  <ul>
                    <li *ngFor="let pn of selectedFactureDetail?.montantParPn">
                      <strong>{{ pn.personnel }} :</strong> {{ pn.montant }} TND
                    </li>
                  </ul>
                </div>
              </td>
            </tr>            
            </ng-container>
          </tbody>
        </table>
      </div>
      <div *ngIf="!isLoading && factures.length === 0 && !errorMessage" class="alert alert-info mt-3">
        Aucune facture trouvée.
      </div>
    </div>
  </div>