<div class="content">
  <div class="container">
    <div *ngIf="loading" class="loading-indicator">
      Chargement des commandes...
    </div>

    <div class="filters mb-3">
      <select [(ngModel)]="filtres.statut" class="form-control">
        <option value="tous">Toutes les commandes</option>
        <option *ngFor="let status of availableStatuses" [value]="status.value">
          {{ status.display }}
        </option>
      </select>
    </div>
    <div class="card ">
      <div class="card-header bg-white border-bottom-0 ">
        <h3 class="mb-0 fw-bold">LISTE DES COMMANDES</h3>
      </div>
    <div class="table-responsive">
      <table class="table table-striped custom-table">
        <thead class="thead">
          <tr>
            <th scope="col">Numéro commande</th>
            <th scope="col">Vol</th>
            <th scope="col">Matricule </th>
            <th scope="col">Commande</th>
            <th scope="col">Nombre</th>
            <th scope="col">Statut</th>
          </tr>
        </thead>
        <tbody *ngIf="!loading && !error">
          <tr *ngFor="let commande of filteredCommands">
            <td class="fw-semibold text-primary">
              #{{ formatId(commande._id) }}
            </td>
            <td>{{ commande.vol?.numVol }}</td>
            <td>
              <div *ngIf="!commande.MatriculeDirTunCater?.Matricule">
                <div>Personnel navigant</div>
              </div>
              <div *ngIf="commande.MatriculeDirTunCater?.Matricule">
                <div>Direction du catering chez Tunisair</div>
                <div>{{ commande.MatriculeDirTunCater }}</div>
              </div>
              
              <div>{{ commande.MatriculePn }}</div>
            </td>            
          
            <td>
              {{ commande.menu?.nom  }}
              <ul>
                <li *ngFor="let plat of commande.plats">
                  {{ plat.nom }}
                </li>
              </ul>
            </td>
            <td>{{ commande.NombreCommande }}</td>
            <td>
              <select
                [(ngModel)]="commande.Statut"  [disabled]="commande.Statut === 'annulé'"
                [ngClass]="getStatusClass(commande.Statut)"
                (change)="changerStatut(commande._id, commande.Statut)"
                class="form-control">
                <option *ngFor="let status of availableStatuses" [value]="status.value" [disabled]="status.value=== 'annulé'">
                  {{ status.display }}
                </option>
              </select>
            </td>                      
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
