<div class="imgg">
    <div class="container my-5 py-5">
        <div class="row align-items-center g-5">
            <div class="col-lg-6  text-lg-start">
                <h1 class="display-3 text-black animated slideInLeft">Sélectionnez<br>vos repas<br> pour le vol à venir.</h1>
                <p class="text-white animated slideInLeft mb-4 pb-2">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
            </div>
        </div>
    </div>
</div>
<div id="specials-grid" class="month-specials " data-scroll-reveal="enter from the bottom after 0.9s">
    <div class="container my-5">
        <h1 class="header-txt mb-4 titre">Nos menus du jour</h1>
        <!--.divider-->
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1930 255.5" style="enable-background:new 0 0 1930 255.5;" xml:space="preserve">
            <style type="text/css">
                .st0{fill:none;stroke:#3c3c3c;stroke-width:10;stroke-linecap:square;stroke-miterlimit:10;}
            </style>
            <polyline class="st0" points="1224,171.8 1181.3,171.8 1139.2,129.6 1065,203.9 970.5,110.4 876,203.6 801.8,129.4 759.7,171.5 
                717,171.5 "/>
            <polyline class="st0" points="5,131.5 757.3,131.5 801.8,176.1 885.9,91.9 868.3,74.2 831.5,111 870.4,149.9 970.2,50.2 1070,149.9 
                1108.8,111 1072.1,74.2 1054.4,91.9 1138.5,176.1 1183.1,131.5 1925,131.5 "/>
            <rect x="921.9" y="26.7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 231.426 707.2043)" class="st0" width="95" height="95"/>
            <rect x="921.9" y="99.7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 179.8072 728.5855)" class="st0" width="95" height="95"/>
            <rect x="940.3" y="178.1" transform="matrix(0.7071 -0.7071 0.7071 0.7071 137.3893 746.1556)" class="st0" width="58.2" height="58.2"/>
            </svg>
        <div class="row justify-content-center">
        <div class="col-md mb-4" *ngFor="let menu of menus">
            <div class="menu-card">
                <!--<div class="special-img img-02">
                    <img src="assets/img/special-2.png" />
                </div>-->
                <div class="menu-title">{{menu.nom}}</div>
                <p class="menu-description">
                    Entrée : {{menu.PlatsEntree[0].nom}}<br>
                    Plat principal : {{menu.PlatsPrincipaux[0].nom}}<br>
                    Dessert : {{menu.PlatsDessert[0].nom}}<br>
                    Boisson: {{menu.Boissons[0].nom}}<br>
                    Prix: {{ menu.prixtotal ? (menu.prixtotal | currency: 'TND' : 'symbol' : '1.3-3') : 'N/A' }}<br>
                </p>
                <div class="menu-footer">
                    <span class="menu-category">Menu complet</span>
                    <button class="btn btn-primary btn-sm" (click)="commanderMenu(menu.nom)">
                        Commander
                    </button>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="container-xxl py-5">
    <div class="container">
      <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h5 class="section-title ff-secondary text-primary fw-normal">Liste des plats</h5>
        <h1 class="mb-5">Nos suggestions</h1>
      </div>

      <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
        <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
          <li class="nav-item">
            <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" data-bs-toggle="pill" href="#tab-1">
              <i class="fas fa-utensils icon fa-2x text-primary"></i>
              <div class="ps-3">
                <h6 class="mt-n1 mb-0">Entrée</h6>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill" href="#tab-2">
              <i class="fa fa-hamburger fa-2x text-primary"></i>
              <div class="ps-3">
                <h6 class="mt-n1 mb-0">Plat principal</h6>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill" href="#tab-3">
              <i class="fas fa-ice-cream icon fa-2x text-primary"></i>
              <div class="ps-3">
                <h6 class="mt-n1 mb-0">Dessert</h6>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill" href="#tab-4">
              <i class="fas fa-ice-cream icon fa-2x text-primary"></i>
              <div class="ps-3">
                <h6 class="mt-n1 mb-0">Boissons</h6>
              </div>
            </a>
          </li>
        </ul>

        <div class="tab-content">
          <!-- Entrée -->
          <div id="tab-1" class="tab-pane fade show active p-0">
            <div class="row g-4">
              <div class="col-lg-6" *ngFor="let entree of PlatsEntree">
                <div class="d-flex align-items-center">
                  <img *ngIf="entree.image" [src]="'http://localhost:5000/uploads/' + entree.image" class="flex-shrink-0 img-fluid rounded" alt="{{entree.nom}}" style="width: 80px;">
                  <div class="w-100 d-flex flex-column text-start ps-4">
                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                      <span>{{ entree.nom }}</span>
                      <span class="text-primary">{{ entree.prix }} DT</span>
                      <button class="btn btn-sm btn-outline-primary" (click)="SelectedMeal(entree, 'Entrée')" [disabled]="EntreeSelectionne && EntreeSelectionne !== entree">
                        <i class="fa-solid fa-basket-shopping"></i>
                      </button>
                    </h5>
                    <small class="fst-italic">{{ entree.description }}</small>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Plat principal -->
          <div id="tab-2" class="tab-pane fade p-0">
            <div class="row g-4">
              <div class="col-lg-6" *ngFor="let principal of PlatsPrincipaux">
                <div class="d-flex align-items-center">
                  <img *ngIf="principal.image" [src]="'http://localhost:5000/uploads/' + principal.image" class="flex-shrink-0 img-fluid rounded" alt="{{principal.nom}}" style="width: 80px;">
                  <div class="w-100 d-flex flex-column text-start ps-4">
                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                      <span>{{ principal.nom }}</span>
                      <span class="text-primary">{{ principal.prix }} DT</span>
                      <button class="btn btn-sm btn-outline-primary" (click)="SelectedMeal(principal, 'Plat Principal')" [disabled]="PrincipauxSelectionne && PrincipauxSelectionne !== principal">
                        <i class="fa-solid fa-basket-shopping"></i>
                      </button>
                    </h5>
                    <small class="fst-italic">{{ principal.description }}</small>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Dessert -->
          <div id="tab-3" class="tab-pane fade p-0">
            <div class="row g-4">
              <div class="col-lg-6" *ngFor="let dessert of PlatsDessert">
                <div class="d-flex align-items-center">
                  <img *ngIf="dessert.image" [src]="'http://localhost:5000/uploads/' + dessert.image" class="flex-shrink-0 img-fluid rounded" alt="{{dessert.nom}}" style="width: 80px;">
                  <div class="w-100 d-flex flex-column text-start ps-4">
                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                      <span>{{ dessert.nom }}</span>
                      <span class="text-primary">{{ dessert.prix }} DT</span>
                      <button class="btn btn-sm btn-outline-primary" (click)="SelectedMeal(dessert, 'Dessert')" [disabled]="DessertSelectionne && DessertSelectionne !== dessert">
                        <i class="fa-solid fa-basket-shopping"></i>
                      </button>
                    </h5>
                    <small class="fst-italic">{{ dessert.description }}</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Boissons -->
          <div id="tab-4" class="tab-pane fade p-0">
            <div class="row g-4">
              <div class="col-lg-6" *ngFor="let b of Boissons">
                <div class="d-flex align-items-center">
                  <img *ngIf="b.image" [src]="'http://localhost:5000/uploads/' + b.image" class="flex-shrink-0 img-fluid rounded" alt="{{b.nom}}" style="width: 80px;">
                  <div class="w-100 d-flex flex-column text-start ps-4">
                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                      <span>{{ b.nom }}</span>
                      <span class="text-primary">{{ b.prix }} DT</span>
                      <button class="btn btn-sm btn-outline-primary" (click)="SelectedMeal(b, 'Boisson')" [disabled]="BoissonsSelectionne && BoissonsSelectionne !== b">
                        <i class="fa-solid fa-basket-shopping"></i>
                      </button>
                    </h5>
                    <small class="fst-italic">{{ b.description }}</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- tab-content -->
      </div>
    </div>
<!--Chatbot from codepen.io -->
<button class="chatbox-open" (click)="openChatbox()">
<i class="fa fa-comment fa-2x" aria-hidden="true"></i>
</button>

<button class="chatbox-close" (click)="closeChatbox()">
<i class="fa fa-close fa-2x" aria-hidden="true"></i>
</button>

<section class="chatbox-popup" [ngClass]="{'show': isPopupOpen}">
<header class="chatbox-popup__header">
<aside style="flex:3">
  <i class="fa fa-user-circle fa-4x chatbox-popup__avatar" aria-hidden="true"></i>
</aside>
<aside style="flex:8">
  <h1>Sussanah Austin</h1> Agent (Online)
</aside>
<aside style="flex:1">
  <button class="chatbox-maximize" (click)="maximizeChat()">
    <i class="fa fa-window-maximize" aria-hidden="true"></i>
  </button>
</aside>
</header>
<main class="chatbox-popup__main">
We make it simple and seamless for<br> business and people to talk to each<br> other. Ask us anything.
</main>
<footer class="chatbox-popup__footer">
<aside style="flex:1;color:#888;text-align:center;">
  <i class="fa fa-camera" aria-hidden="true"></i>
</aside>
<aside style="flex:10">
  <textarea placeholder="Type your message here..." autofocus></textarea>
</aside>
<aside style="flex:1;color:#888;text-align:center;">
  <i class="fa fa-paper-plane" aria-hidden="true"></i>
</aside>
</footer>
</section>

<section class="chatbox-panel" [ngClass]="{'show': isPanelOpen}">
<header class="chatbox-panel__header">
<aside style="flex:3">
  <i class="fa fa-user-circle fa-3x chatbox-popup__avatar" aria-hidden="true"></i>
</aside>
<aside style="flex:6">
  <h1>Sussanah Austin</h1> Agent (Online)
</aside>
<aside style="flex:3;text-align:right;">
  <button class="chatbox-minimize" (click)="minimizeChat()">
    <i class="fa fa-window-restore" aria-hidden="true"></i>
  </button>
  <button class="chatbox-panel-close" (click)="closePanel()">
    <i class="fa fa-close" aria-hidden="true"></i>
  </button>
</aside>
</header>
<main class="chatbox-panel__main">
We make it simple and seamless for<br> business and people to talk to each<br> other. Ask us anything.
</main>
<footer class="chatbox-panel__footer">
<aside style="flex:1;color:#888;text-align:center;">
  <i class="fa fa-camera" aria-hidden="true"></i>
</aside>
<aside style="flex:10">
  <textarea placeholder="Type your message here..." autofocus></textarea>
</aside>
<aside style="flex:1;color:#888;text-align:center;">
  <i class="fa fa-paper-plane" aria-hidden="true"></i>
</aside>
</footer>
</section>
