  <div class="container">
    <h3>CONTROLE DES FACTURES</h3>
    <div *ngIf="loading" class="text-center mt-3">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div *ngIf="factures.length > 0" class="card mt-3">
      <div class="card-header">Factures enregistrés</div>
      <div class="card-body">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>N°</th>
              <th>Date</th>
              <th>Nombre des bons </th>
              <th>Montant total</th>
              <th>Statut</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let f of factures" [class.table-secondary]="f.Statut === 'annulé'">
              <td class="fw-semibold text-primary">{{ f.numeroFacture }}</td>
              <td>{{ f.DateFacture | date:'shortDate' }}</td>
              <td>{{ f.BonsLivraison?.length || 0 }}</td>
              <td>
                {{ f.montantTotal | currency:'TND':'symbol':'1.3-3'}}
              </td>
              <td>
                <select [(ngModel)]="f.Statut" (change)="changerStatut(f._id, f.Statut)" class="form-control" lass="badge" [ngClass]="getStatusBadgeClass(f.Statut)" [disabled]="f.Statut === 'confirmé'">
                  <option *ngFor="let status of availableStatuses" [value]="status.value">
                    {{ status.display }}
                  </option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="!loading && factures.length === 0 && !loading" class="alert alert-info mt-3">
      Aucun bon de livraison trouvé.
    </div>
  </div>